html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: white;
    color: #0c0c1d;
}

a{
    text-decoration: none;
    color: inherit;
}

.content {
    max-width: 1366px;
    margin: auto;
    display: flex;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 50px;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    background-color: white;
    &:nth-child(1) {
        background-color: rgb(188, 235, 160)
    }
    &:nth-child(2) {
        background-color: rgb(136, 136, 136);
    }
    &:nth-child(3) {
        background-color: rgb(156 167 221);
    }
    &:nth-child(4) {
        background-color: rgb(255, 179, 179);
    }    
    &:nth-child(5) {
        background-color: rgb(221 204 156);
    }


}